<div class="flex justify-center">
  <section class="w-full max-w-3xl shadow my-3" hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>How Many Persons?</h3>
      <p hlmCardDescription>Enter the number of persons.</p>
    </div>
    <p hlmCardContent>
      <input [(ngModel)]="numberOfPersons" class="w-full" hlmInput min="1" placeholder="Number of Persons"
             type="number"/>
    </p>
    <div class="flex justify-between" hlmCardFooter>
      <button (click)="resetEverything()" hlmBtn variant="ghost">Reset</button>
      <button (click)="generateNameInput()" hlmBtn>Create</button>
    </div>
  </section>
</div>
@if (shouldShowInputs) {
  <div hlmCard class="shadow flex flex-col items-center max-w-3xl mx-auto">
    <div class="flex flex-wrap justify-center items-center gap-3 mt-3">
      @for (person of inputPersons; track person.id) {
        <label class="max-w-xs" hlmLabel> Person {{ person.id + 1 }} Name:
          <input (input)="verifyInputs()" class="w-full" [(ngModel)]="person.name" required hlmInput
                 [placeholder]='"Person " + (person.id+1) + " Name" ' type='text'/>
        </label>
      }
    </div>
    <div class="flex justify-center items-center gap-3 my-3 flex-col w-40">
      <button class="max-w-xs w-full" hlmBtn [disabled]="!enableGenerateCardButton" (click)="generateBillCards()">
        Generate
        Bill Cards
      </button>
      @if (!enableGenerateCardButton) {
        <small class="text-red-600 text-xs text-pretty text-center">Names are required and should not be
          duplicated</small>
      }
    </div>
  </div>
}
@if (shouldShowBillCards) {
  <div class="flex flex-col justify-center items-center gap-3 mb-3">
    <div class="flex justify-center items-center p-0 w-full">
      <div class="flex flex-col sm:flex-row justify-center items-center gap-2 mb-0 mt-3 p-3 shadow w-full max-w-3xl"
           hlmCard>
        <label hlmLabel>
          <input [(ngModel)]="gstPercentage" (input)="calculateBill()" hlmInput placeholder="GST (%)"
                 type="number"/>
        </label>
        <label hlmLabel>
          <input [(ngModel)]="discountOnTotalBill" (input)="calculateBill()" hlmInput
                 placeholder="Discount on Total Bill (%)"
                 type="number"/>
        </label>
        <div>
          <hlm-dialog>
            <button id="add-multi-person-item" brnDialogTrigger hlmBtn>
              <hlm-icon size='sm' class="mr-2" name="lucideCirclePlus"/>
              <span>Multi Person Item</span>
            </button>
            <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
              <hlm-dialog-header>
                <h3 hlmDialogTitle>Add Multi Person Item</h3>
                <p hlmDialogDescription>Enter the price and select the persons associated with it</p>
              </hlm-dialog-header>
              <div class="py-4 grid gap-4">
                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel for="price" class="text-right">Price</label>
                  <input id="price" [(ngModel)]="itemPrice" class="w-[17.3rem]" hlmInput
                         type="number"/>
                </div>
                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel for="item-discount" class="text-right">Discount (%)</label>
                  <input id="item-discount" [(ngModel)]="itemDiscount" class="w-[17.3rem]" hlmInput
                         type="number"/>
                </div>
                <div class="items-center grid grid-cols-4 gap-4">
                  <label hlmLabel class="text-right">Persons</label>
                  <brn-select [(ngModel)]="selectedPersons" class="inline-block" placeholder="Select some person"
                              [multiple]="true">
                    <hlm-select-trigger class="w-[17.3rem]">
                      <hlm-select-value/>
                    </hlm-select-trigger>
                    <hlm-select-content>
                      @if (persons.length > 1) {
                        <hlm-option [value]="persons" (click)="selectAllPersons()" class="font-bold">All</hlm-option>
                      }
                      @for (person of persons; track person.id) {
                        <hlm-option [value]="person">{{ person.name }}</hlm-option>
                      }
                    </hlm-select-content>
                  </brn-select>
                </div>
              </div>
              <hlm-dialog-footer>
                <div class="flex items-center justify-between w-full">
                  <label class="flex items-center" hlmLabel>
                    <hlm-switch [(ngModel)]="divideOnEach" class="mr-2"/>
                    Divide On Each
                  </label>
                  <button hlmBtn type="submit" (click)="addToAmountList()">Save changes</button>
                </div>
              </hlm-dialog-footer>
            </hlm-dialog-content>
          </hlm-dialog>
        </div>
      </div>
    </div>
    @for (person of persons; track person.id) {
      <div
        class="grid grid-cols-1 md:grid-cols-12 gap-3 justify-between items-center w-full max-w-3xl p-3 bg-zinc-200"
        hlmCard>
        <div class="col-span-1 md:col-span-2 p-3 flex justify-center items-center flex-col shadow h-32 gap-3" hlmCard>
          <div hlmCardHeader class="relative py-0">
            <img class="w-14 rounded-full" [ngSrc]="generateAvatar(person.name)"
                 [alt]="person.name" width="100" height="100">
          </div>
          <div hlmCardContent class="py-0 flex justify-center items-center flex-col gap-2">
            <div hlmBadge variant="secondary"
                 class="w-24 px-2 justify-center webkit-center whitespace-nowrap overflow-x-scroll no-scrollbar">
              {{ person.name }}
            </div>
            <div hlmBadge variant="secondary"
                 class="w-24 px-2 justify-center webkit-center whitespace-nowrap overflow-x-scroll no-scrollbar">
              {{ person.totalAmount.toFixed(2) }}
            </div>
          </div>
        </div>
        <div class="col-span-1 md:col-span-10 p-3 flex justify-start items-center shadow h-32 overflow-y-scroll"
             hlmCard>
          <div class="flex justify-start items-center flex-wrap gap-3">
            @for (amount of person.listOfAmounts; track amount.id) {
              <div class="relative">
                <input class="w-36" (input)="calculateBill()" [(ngModel)]="amount.amount" hlmInput type="number"/>
                <button (click)="removeAmountInput(person.id, amount.id)" hlmBtn size="icon" variant="ghost"
                        class="absolute top-[-8px] right-[-5px] w-4 h-auto">
                  <hlm-icon size='sm' name="lucideCircleX"/>
                </button>
              </div>
            }
            <button (click)="addNewAmountInput(person.id)" hlmBtn size="icon" variant="outline">
              <hlm-icon size='sm' name="lucideCirclePlus"/>
            </button>
          </div>
        </div>
      </div>
    }
    <div class="flex justify-center items-center gap-3">
      <h3 class="font-extrabold">Total Bill: {{ totalBill.toFixed() }}</h3>
    </div>
  </div>
}
